@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

html, body { height: 100%; }

.container-fluid { display: flex; height: 100%; }

.sidebar { height: 100%; left: 0; bottom: 0; width: 250px; }
